<template>
  <v-container class="fill-height">
    <v-row justify="center">
      <v-col cols="12" xs="12" class="text-center">
        <v-card>
          <v-tabs color="deep-purple accent-4" right :prominent="false" v-model="tab">
            <v-tab>Tracking Asset</v-tab>
            <v-tab>New Asset</v-tab>
            <v-tab>Warehouse</v-tab>
            <v-tab>Tracking</v-tab>
            <v-tab>Customer</v-tab>
            <v-tabs-items v-model="tab">
              <v-tab-item class="pa-5 item-tab">
                <v-row class="mx-auto" v-if="items.length > 0">
                  <v-col v-for="(item,index) in items" :key="index" cols="12" xs="12" md="4">
                    <v-card>
                      <v-img height="200" src="https://cdn.vuetifyjs.com/images/cards/cooking.png"></v-img>
                      <v-card-title class="pb-0">
                        <h6>ORDER NUMBER {{item[1]}}</h6>
                      </v-card-title>
                      <v-card-text>
                        <div class="text-left">Sender : {{item[3]}} </div>
                      </v-card-text>
                      <v-divider class="mx-4"></v-divider>
                      <v-card-title class="py-2">{{item[2]}}</v-card-title>
                      <v-card-text class="text-left" v-if="item[5].length > 0">
                        <v-expansion-panels>
                          <v-expansion-panel v-for="(whd,j) in item[5]" :key="item[1]+j">
                            <v-expansion-panel-header>
                              Warehouse: {{warehouses[whd[0]][1]}}
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                              <div v-if="whd[1][2]" style="font-size:10px">
                                CheckIn
                                <div>
                                  Record By: {{whd[1][0]}}
                                </div>
                                <div>
                                  Date: {{DateTime(whd[1][1])}}
                                </div>
                              </div>
                              <v-divider></v-divider>
                              <div v-if="whd[2][2]" style="font-size:10px">
                                CheckOut
                                <div>
                                  Record By: {{whd[2][0]}}
                                </div>
                                <div>
                                  Date: {{DateTime(whd[2][1])}}
                                </div>
                              </div>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row v-else justify="center">
                  <v-col cols="12" xs="12">
                    No data ...
                  </v-col>
                </v-row>
              </v-tab-item>
              <v-tab-item class="pa-2 item-tab">
                <v-row justify="center">
                  <v-col cols="6" xs="6" class="text-right">
                    <div style="width:100%;" class="text-left mb-2">
                      <h4>NEW ITEM</h4>
                    </div>
                    <v-text-field solo v-model="nameItem" label="Item name"></v-text-field>
                    <v-text-field solo v-model="senderItem" label="sender name"></v-text-field>
                    <v-btn @click="newItem">
                      create
                    </v-btn>
                  </v-col>
                </v-row>
              </v-tab-item>
              <v-tab-item class="pa-2 item-tab">
                <v-row justify="center">
                  <v-col cols="12" xs="12" class="mt-2">
                    <v-row>
                      <v-col cols="3" v-for="(wh,index) in warehouses" :key="index+'wh'">
                        <v-card>
                          <v-card-text>
                            Warehouse: {{wh[1]}}
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" xs="6" class="text-right">
                    <div style="width:100%;" class="text-left mb-2">
                      <h4>New Warehouse</h4>
                    </div>
                    <v-text-field solo v-model="nameWarehouse" label="Warehouse name"></v-text-field>
                    <v-btn @click="newWarehouse">
                      create
                    </v-btn>
                  </v-col>
                </v-row>
              </v-tab-item>
              <v-tab-item class="pa-2 item-tab">
                <v-row justify="center">
                  <v-col cols="6" xs="6" class="text-right">
                    <div style="width:100%;" class="text-left mb-2">
                      <h4>Tracking</h4>
                    </div>
                    <v-text-field solo v-model="track.rec" label="ผู้ตรวจ"></v-text-field>
                    <v-text-field solo v-model="track.orderNumber" label="Order number"></v-text-field>
                    <v-select v-model="track.warehouse" :items="warehouses" item-text="1" return-object solo
                      label="Warehouse"></v-select>
                    <v-select v-model="track.type" :items="[{txt:'Check In',value: 0},{txt:'Check Out', value: 1}]"
                      item-text="txt" item-value="value" solo label="Type track"></v-select>
                    <v-btn @click="trackingProcess">
                      {{track.type == 0 ? "Check In" : "Check Out"}}
                    </v-btn>
                  </v-col>
                  <v-col cols="12" xs="12">
                  </v-col>
                </v-row>
              </v-tab-item>
              <v-tab-item class="pa-2 item-tab">
                <v-row justify="center">
                  <v-col cols="6" xs="6" class="text-right">
                    <div style="width:100%;" class="text-left mb-2">
                      <h4>Customer</h4>
                    </div>
                    <v-text-field solo v-model="srchItem" label="order number"></v-text-field>
                    <v-btn @click="srch">
                      SEARCH
                    </v-btn>
                  </v-col>
                  <v-col cols="12" xs="12" v-if="srched != null">
                    <v-card class="mx-auto mb-4" max-width="400">
                      <v-card class="pa-3" flat>
                        Sender: {{srched.item[3]}}
                        <div>
                          Item name: {{srched.item[2]}}
                        </div>
                      </v-card>
                      <v-card-text class="py-0" v-if="srched.tracking.length > 0">
                        <v-timeline align-top dense>

                          <v-timeline-item v-for="(tt,j) in srched.tracking" :key="'tr'+j"
                            :color="j % 2 == 0 ? 'pink': 'teal'" small>
                            <v-row class="pt-1">
                              <v-col cols="12">
                                <v-row>
                                  <v-col>
                                    <strong>{{DateTime(tt[1][1])}}</strong>
                                  </v-col>
                                  <v-col>
                                    <div>
                                      นำเข้า
                                    </div>
                                    <strong>สถานที่ {{srched.warehouses[j][1]}}</strong>
                                    <div class="caption">
                                      Check by: {{tt[1][0]}}
                                    </div>
                                  </v-col>
                                </v-row>
                              </v-col>
                              <v-col cols="12">
                                <v-row>
                                  <v-col v-if="tt[2][2]">
                                    <strong>{{DateTime(tt[2][1])}}</strong>
                                  </v-col>
                                  <v-col v-if="tt[2][2]">
                                    <div>
                                      ส่งออก
                                    </div>
                                    <strong>สถานที่ {{srched.warehouses[j][1]}}</strong>
                                    <div class="caption">
                                      Check by: {{tt[2][0]}}
                                    </div>
                                  </v-col>
                                </v-row>
                              </v-col>
                            </v-row>
                          </v-timeline-item>

                        </v-timeline>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-tab-item>
            </v-tabs-items>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  export default {
    name: 'Home',
    data() {
      return {
        factoryIntance: null,
        warehouseIntance: null,
        items: [],
        warehouses: [],
        nameItem: '',
        senderItem: '',
        nameWarehouse: '',
        tab: null,
        track: {
          orderNumber: null,
          warehouse: null,
          type: 0,
          rec: null
        },
        srchItem: null,
        srched: null
      }
    },
    methods: {
      async srch() {
        this.setLoadingPage(true);
        let getItem = await this.factoryIntance.CustomerGetByOrderNumber(this.srchItem);
        let tracking = getItem.tracking;
        let warehouses = [];
        for (let i in tracking) {
          let getWh = await this.warehouseIntance.warehouses(tracking[i][0]);
          warehouses.push(getWh);
        }
        this.srched = {
          item: getItem,
          warehouses: warehouses,
          tracking: tracking
        };
        this.setLoadingPage(false);
      },
      twoDigit(digit) {
        if (String(digit).length == 1) {
          return "0" + digit;
        } else {
          return digit;
        }
      },
      DateTime(stmpDate) {
        let d = this.$moment(stmpDate * 1000);
        var month = new Array();
        month[0] = "มกราคม";
        month[1] = "กุมภาพันธุ์";
        month[2] = "มีนาคม";
        month[3] = "เมษายน";
        month[4] = "พฤษภาคม";
        month[5] = "มิถุนายน";
        month[6] = "กรกฎาคม";
        month[7] = "สิงหาคม";
        month[8] = "กันยายน";
        month[9] = "ตุลาคม";
        month[10] = "พฤศจิกายน";
        month[11] = "ธันวาคม";
        let year = parseInt(d.year()) + 543;
        return (
          this.twoDigit(d.date()) +
          " " +
          month[d.month()] +
          " " +
          year +
          " " +
          this.twoDigit(d.hour()) +
          ":" +
          this.twoDigit(d.minute()) +
          " น."
        );
      },
      async newItem() {
        this.setLoadingPage(true);
        try {
          const newItem = await this.factoryIntance.newItem(this.senderItem, this.nameItem);
          await newItem.wait();
          this.input = null;
          console.log(`newItem successfully`);
          const vm = this;
        } catch (err) {
          console.log(err);
          console.log(`newItem failed`);
        }
        this.nameItem = "";
        this.senderItem = "";
        this.setLoadingPage(false);
      },
      async newWarehouse() {
        this.setLoadingPage(true);
        try {
          const newWarehouse = await this.warehouseIntance.createWarehouse(this.nameWarehouse);
          await newWarehouse.wait();
          this.input = null;
          console.log(`newWarehouse successfully`);
        } catch (err) {
          console.log(err);
          console.log(`newWarehouse failed`);
        }
        this.nameWarehouse = "";
        this.setLoadingPage(false);
      },
      async getItem() {
        try {
          this.setLoadingPage(true);
          const getItem = await this.factoryIntance.getItemsByOwner(this.account);
          this.items = getItem;
          this.setLoadingPage(false);
        } catch (err) {
          console.log(err)
        }
      },
      async getWarehouse() {
        try {
          this.setLoadingPage(true);
          const getWh = await this.warehouseIntance.getWarehouseByOwner(this.account);
          this.warehouses = getWh;
          this.setLoadingPage(false);
        } catch (err) {
          console.log(err)
        }
      },
      async trackingProcess() {
        try {
          this.setLoadingPage(true);
          if (this.track.type === 0) {
            // uint _warehouseId, uint orderId, string memory _reciev
            console.log("check in");
            console.log(this.track);
            const checkin = await this.factoryIntance.ItemCheckIn(this.track.warehouse[0], parseInt(this.track
              .orderNumber), this.track.rec);
            await checkin.wait();
            console.log(checkin);
            console.log("checkIn success")
          } else if (this.track.type === 1) {
            const checkout = await this.factoryIntance.ItemCheckOut(this.track.warehouse[0], parseInt(this.track
              .orderNumber), this.track.rec);
            await checkout.wait();
            console.log(checkout);
            console.log("checkout success")
          }

        } catch (err) {
          console.log(err)
        }
        this.setLoadingPage(false);
      }
    },
    mounted() {
      this.getItem();
      this.getWarehouse();
    },
    created() {
      try {
        const vm = this;
        if (typeof window.ethereum !== "undefined") {

          const provider = new this.$ethers.providers.Web3Provider(
            window.ethereum
          );

          const signer = provider.getSigner();

          this.factoryIntance = new this.$ethers.Contract(
            this.$factory_address,
            this.$factory_abi,
            signer
          );

          this.warehouseIntance = new this.$ethers.Contract(
            this.$warehouse_address,
            this.$warehouse_abi,
            signer
          )

          this.factoryIntance.on(
            "NewItem",
            async () => {
              console.log("litsen New Item...")
              await vm.getItem();
            }
          );

          this.warehouseIntance.on(
            "NewWarehouse",
            async () => {
              console.log("litsen New warehouse...")
              await vm.getWarehouse();
            }
          );
        }
      } catch (err) {}
    }
  }
</script>
<style lang="scss">
  .item-tab {
    >.row {
      min-height: 300px;
      align-content: center;
    }
  }
</style>