<template>
    <div class="metamask-info">
        <div class="top-right">
            <v-btn rounded v-if="account == undefined" @click="requestPermission()">
                Connect Wallet
            </v-btn>
            <div v-else class="rounded-account">{{ account }}</div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "hello-metamask",
        methods: {
            async requestPermission() {
                if (typeof window.ethereum !== "undefined") {
                    window.ethereum
                        .request({
                            method: "eth_requestAccounts",
                        })
                        .then((res) => {
                            this.$store.commit("SET_ACCOUNT", res[0]);
                        })
                        .catch((err) => {
                            if (err.code === 4001) {
                                console.log("Please connect to MetaMask.");
                            } else {
                                console.error(err);
                            }
                        });
                }
            },
            async setAccount() {
                try {
                    const [account] = await window.ethereum.request({
                        method: "eth_requestAccounts",
                    });
                    this.$store.commit("SET_ACCOUNT", account);
                } catch (err) {
                    if (err.code === -32002) {}
                    setTimeout(() => {
                        this.showPage = true;
                        this.setLoadingPage(false);
                    }, 2000);
                }
            },
            async getBalane() {
                try {
                    const provider = new this.$ethers.providers.Web3Provider(
                        window.ethereum
                    );
                    const contract = await new this.$ethers.Contract(
                        this.$factory_address,
                        this.$factory_abi,
                        provider
                    );
                    const balance = await contract.balanceOf(this.account);
                    const ethBalance = await provider.getBalance(this.account);
                    this.$store.commit("SET_BALANCE_ETH", ethBalance.toString());
                    this.$store.commit("SET_BALANCE", balance.toString());
                } catch (err) {
                    console.log(err);
                    this.$store.commit("SET_BALANCE", "0");
                }
            },
        },
        async created() {
            if (typeof window.ethereum !== "undefined") {
                console.log("created");
                await this.setAccount();
                // await this.getBalane();
                window.ethereum.on("accountsChanged", async (accounts) => {
                    if (accounts[0] != this.account) {
                        this.$store.commit("SET_ACCOUNT", accounts[0]);
                        // await this.getBalane();
                    }
                });
                window.ethereum.on("disconnect", () => {
                    this.$store.commit("SET_ACCOUNT", null);
                    this.$store.commit("SET_BALANCE", "0");
                });
                setTimeout(() => {
                    this.showPage = true;
                    this.setLoadingPage(false);
                }, 2000);
            }
        },
    };
</script>
<style lang="scss">
    .center {
        position: absolute !important;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        z-index: 2;
        display: block;
    }

    .metamask-info {
        height: 42px;
    }

    .top-right {
        position: absolute;
        top: 10px;
        right: 10px;

        .rounded-account {
            border: 1px solid black;
            border-radius: 28px;
            padding: 8px;
        }
    }

    .please-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>