<template>
  <v-app>
    <v-main>
      <meta-mask></meta-mask>
      <router-view v-if="account != null"/>
      <div v-else  class="please-login">
        Please login with metamask...
      </div>
    </v-main>
    <v-progress-circular v-if="loadingStatePage" indeterminate color="primary" class="center"></v-progress-circular>
  </v-app>
</template>

<script>
  import metaMask from "./components/metamask"
  export default {
    name: 'App',
    components: {
      'meta-mask': metaMask
    },
    data: () => ({
      //
      showPage: false
    }),
  };
</script>
<style scoped>
  #app {
    max-width: 100vw;
  }
</style>
